-i https://pypi.douban.com/simple
asgiref
autopep8
django==3.2
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
djangorestframework
django-simpleui
django-import_export
Pillow
pymysql