# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pyprograms\django-dashboard-argon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
